<?xml version='1.0' encoding='utf-8'?>
<robot name="ATERA_URDF">
  <!-- Dibuat dari ATERA_URDF.urdf.xacro (m_b = 2.225 kg, L = 0.100408 m, j_psi = 0.02337 kg.m^2). Lihat catatan ASUMSI di file xacro. Path mesh relatif: ../meshes/ -->
  <material name="silver">
    <color rgba="0.7 0.7 0.7 1.0" />
  </material>
  <link name="body_link">
    <inertial>
      <origin xyz="-0.000304 0.089858 -0.000419" rpy="0 0 0" />
      <mass value="2.225" />
      <inertia ixx="0.02337" iyy="0.01654" izz="0.0372" ixy="-0.0003686" iyz="-7.555e-05" ixz="-3.894e-06" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="../meshes/body_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver" />
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="../meshes/body_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <link name="Lwheel_link">
    <inertial>
      <origin xyz="0.0 0.0 -0.036088" rpy="0 0 0" />
      <mass value="0.745" />
      <inertia ixx="0.000626" iyy="0.000578" izz="0.00092" ixy="0.0" iyz="0.0" ixz="0.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 1.570796 0" />
      <geometry>
        <mesh filename="../meshes/Lwheel_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver" />
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 1.570796 0" />
      <geometry>
        <mesh filename="../meshes/Lwheel_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <link name="Rwheel_link">
    <inertial>
      <origin xyz="0.0 0.0 -0.036088" rpy="0 0 0" />
      <mass value="0.745" />
      <inertia ixx="0.000626" iyy="0.000578" izz="0.00092" ixy="0.0" iyz="0.0" ixz="0.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 1.570796 0" />
      <geometry>
        <mesh filename="../meshes/Rwheel_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver" />
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 1.570796 0" />
      <geometry>
        <mesh filename="../meshes/Rwheel_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint name="Lwheel_joint" type="continuous">
    <origin xyz="0.114 -0.01055 0.0" rpy="0.0 -1.570796 0" />
    <parent link="body_link" />
    <child link="Lwheel_link" />
    <axis xyz="0 0 -1" />
  </joint>
  <joint name="Rwheel_joint" type="continuous">
    <origin xyz="-0.114 -0.01055 0.0" rpy="0.0 1.570796 0" />
    <parent link="body_link" />
    <child link="Rwheel_link" />
    <axis xyz="0 0 1" />
  </joint>
</robot>